:host ::ng-deep .custom-card {
    display: block;
    /* Make sure it’s a block element */
    transition: all 0.3s ease;
    box-shadow: 0 8px 24px rgba(87, 193, 133, 0.15);
}

:host ::ng-deep .custom-card:hover {
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.15);
    transform: translateY(-4px);
    background-color: #f9f9f9;
    /* Optional */
    cursor: pointer;
}

/* career.component.css */
.p-error {
    color: #e24c4b;
    font-size: 0.875rem;
    margin-top: 4px;
    display: block;
}