
.hero-section {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding: 0px 11%;
}

.hero-text {
  max-width: 600px;
  flex: 1 1 50%;
}

.highlight {
  color: #1bce1b;
}

.hover-g {
  transition: transform 0.3s ease, color 0.3s ease;
  display: inline-block;
}

.hover-g:hover {
  transform: scale(1.2) rotate(-5deg);
  color: #0dc20d;
  cursor: pointer;
}

.hero-text p {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #444;
}

.hero-image {
  flex: 1 1 40%;
  /* margin-top: 20px; */
}

.hero-image img {
  max-width: 100%;
  height: auto;
  transition: transform 0.4s ease;
}

.hero-image img:hover {
  transform: scale(1.05);
}

@media (max-width: 768px) {
  .hero-section {
    flex-direction: column;
    padding: 60px 5%;
    text-align: center;
  }

  .hero-text h1 {
    font-size: 2.4rem;
  }
  
  .hero-image {
    margin-top: 40px;
  }
}

/* Our Products */
.image-container {
  position: relative;
}

.badge-container {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  z-index: 2;
}

.product-badge {
  padding: 0.3rem 0.75rem;
  font-weight: bold;
  font-size: 0.8rem;
  color: #fff;
  border-radius: 20px;
  display: inline-block;
}

.new-badge {
  background-color: #10b981; /* Tailwind green-500 */
}

.coming-soon-badge {
  background-color: #f59e0b; /* Tailwind amber-500 */
}

@media (max-width: 768px) {
  .badge-container {
    top: 0.3rem;
    left: 0.3rem;
    transform: scale(0.85);
  }
}

/* Smooth scroll animation */
::ng-deep .p-carousel-items-content {
  scroll-behavior: smooth;
  transition: transform 1s ease-in-out !important;
}

/* Careers and Contact Section */
.vertical-divider {
  width: 2px;
  height: 250px;
}

@media screen and (max-width: 768px) {
  .vertical-divider {
    width: 80%;
    height: 2px;
    margin: 20px auto;
  }
}