<app-navbar></app-navbar>

<!-- Violet-Gradient Background -->
<div class="bg-gradient-violet px-2 pt-4 pb-6">

  <div class="flex justify-content-center px-2">
    <p-card
      class="hoverable-card w-full sm:w-11 md:w-10 lg:w-7 xl:w-6 surface-card shadow-4 border-round-2xl p-4 md:p-5 product-card-detail">

      <!-- Title -->
      <div class="text-center mb-3">
        <h1 class="text-3xl md:text-4xl font-bold text-indigo-600 mb-1">Be VibeStar</h1>
      </div>

      <!-- Tag Icon -->
      <div class="flex justify-content-center mb-3">
        <span class="py-1 px-3 text-sm font-semibold border-round-full bg-indigo-50 text-indigo-700 shadow-1">
          🚀 Social App
        </span>
      </div>

      <!-- Image -->
      <div class="flex justify-content-center my-3">
        <img src="../../../../assets/products/be-vibestar.jpg" alt="Be VibeStar"
          class="w-8 sm:w-7 md:w-4 lg:w-4 border-round shadow-1 object-contain" />
      </div>

      <!-- Website Link -->
      <div class="text-center my-4">
        <span
          class="inline-block py-2 px-4 border-round-2xl bg-yellow-100 text-yellow-800 font-semibold text-base shadow-1">
          🚧 Coming Soon
        </span>
      </div>

      <!-- Description -->
      <div class="mb-4">
        <p class="text-base md:text-lg text-justify text-color leading-relaxed">
          Be VibeStar is a vibrant social media platform for self-expression and connecting with like-minded
          individuals. Share your thoughts, photos, and videos while staying updated on the latest trends. Join the
          community and let your voice be heard
        </p>
      </div>

    </p-card>
  </div>
</div>

<app-footer></app-footer>